<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-projet-heading" data-cy="ProjetCreateUpdateHeading" jhiTranslate="ihmadminRsa2App.projet.home.createOrEditLabel">
        Create or edit a Projet
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="text" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="ihmadminRsa2App.projet.nom" for="field_nom">Nom</label>
          <input type="text" class="form-control" name="nom" id="field_nom" data-cy="nom" formControlName="nom" />
          <div *ngIf="editForm.get('nom')!.invalid && (editForm.get('nom')!.dirty || editForm.get('nom')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('nom')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="ihmadminRsa2App.projet.structure" for="field_structure">Structure</label>
          <input type="text" class="form-control" name="structure" id="field_structure" data-cy="structure" formControlName="structure" />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="ihmadminRsa2App.projet.societeCPDP" for="field_societeCPDP">Societe CPDP</label>
          <select class="form-control" name="societeCPDP" formControlName="societeCPDP" id="field_societeCPDP" data-cy="societeCPDP">
            <option [ngValue]="null">{{ 'ihmadminRsa2App.SocieteCPDP.null' | translate }}</option>
            <option *ngFor="let societeCPDP of societeCPDPValues" [value]="societeCPDP">
              {{ 'ihmadminRsa2App.SocieteCPDP.' + societeCPDP | translate }}
            </option>
          </select>
        </div>

        <div class="mb-3">
          <label jhiTranslate="ihmadminRsa2App.projet.cp" for="field_cps">Cp</label>
          <select
            class="form-control"
            id="field_cps"
            data-cy="cp"
            multiple
            name="cps"
            formControlName="cps"
            [compareWith]="compareCollaborateur"
          >
            <option [ngValue]="collaborateurOption" *ngFor="let collaborateurOption of collaborateursSharedCollection">
              {{ collaborateurOption.identifiant }}
            </option>
          </select>
        </div>

        <div class="mb-3">
          <label jhiTranslate="ihmadminRsa2App.projet.dp" for="field_dps">Dp</label>
          <select
            class="form-control"
            id="field_dps"
            data-cy="dp"
            multiple
            name="dps"
            formControlName="dps"
            [compareWith]="compareCollaborateur"
          >
            <option [ngValue]="collaborateurOption" *ngFor="let collaborateurOption of collaborateursSharedCollection">
              {{ collaborateurOption.identifiant }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
