<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="projet">
      <h2 data-cy="projetDetailsHeading"><span jhiTranslate="ihmadminRsa2App.projet.detail.title">Projet</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ projet.id }}</span>
        </dd>
        <dt><span jhiTranslate="ihmadminRsa2App.projet.nom">Nom</span></dt>
        <dd>
          <span>{{ projet.nom }}</span>
        </dd>
        <dt><span jhiTranslate="ihmadminRsa2App.projet.structure">Structure</span></dt>
        <dd>
          <span>{{ projet.structure }}</span>
        </dd>
        <dt><span jhiTranslate="ihmadminRsa2App.projet.societeCPDP">Societe CPDP</span></dt>
        <dd>
          <span jhiTranslate="{{ 'ihmadminRsa2App.SocieteCPDP.' + projet.societeCPDP }}">{{ projet.societeCPDP }}</span>
        </dd>
        <dt><span jhiTranslate="ihmadminRsa2App.projet.cp">Cp</span></dt>
        <dd>
          <span *ngFor="let cp of projet.cps; let last = last">
            <a [routerLink]="['/collaborateur', cp.id, 'view']">{{ cp.identifiant }}</a
            >{{ last ? '' : ', ' }}
          </span>
        </dd>
        <dt><span jhiTranslate="ihmadminRsa2App.projet.dp">Dp</span></dt>
        <dd>
          <span *ngFor="let dp of projet.dps; let last = last">
            <a [routerLink]="['/collaborateur', dp.id, 'view']">{{ dp.identifiant }}</a
            >{{ last ? '' : ', ' }}
          </span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/projet', projet.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
