<div class="row">
  <div class="col-md-3">
    <span class=""></span>
  </div>

  <div class="col-md-9">
    <h1 class="display-4"><span jhiTranslate="home.title">IHM Administration</span></h1>

    <p class="lead" jhiTranslate="home.subtitle">Gestion du parc informatique NTIC4</p>

    <div [ngSwitch]="account !== null">
      <div class="alert alert-success" *ngSwitchCase="true">
        <span id="home-logged-message" *ngIf="account" jhiTranslate="home.logged.message" [translateValues]="{ username: account.login }"
          >Bienvenue "{{ account.login }}".</span
        >
      </div>
      <div id="diplayedxSeconds" *ngIf="isDisplayed">
        <div class="alert alert-warning" *ngSwitchCase="true">
          <span>Vous êtes bien connecté !</span>
        </div>
      </div>

      <div id="homeContent" class="border border-secondary rounded bg-secondary" style="color: white; padding: 1%" *ngSwitchCase="true">
        <div>
          <span
            >Cette interface vous permet de gerer différentes entitées. Vous pouvez y acceder depuis la barre de nagigation via le menu
            "Entities", ou bien cliquer sur les liens ci dessous :</span
          >
        </div>

        <ul>
          <li>
            <a routerLink="/collaborateur" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
              <span>Collaborateur</span>
            </a>
          </li>
          <li>
            <a routerLink="/equipement" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
              <!-- <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon> -->
              <span>Equipement</span>
            </a>
          </li>
          <li>
            <a routerLink="/localisation" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
              <!-- <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon> -->
              <span>Localisation</span>
            </a>
          </li>
          <li>
            <a routerLink="/numero-station" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
              <!-- <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon> -->
              <span>Numero Station</span>
            </a>
          </li>
          <li>
            <a routerLink="/projet" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
              <!-- <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon> -->
              <span>Projet</span>
            </a>
          </li>
          <li>
            <a routerLink="/teletravail" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
              <!-- <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon> -->
              <span>Teletravail</span>
            </a>
          </li>
          <!-- jhipster-needle-add-entity-to-menu - JHipster will add entities to the menu here -->
        </ul>
      </div>

      <div class="alert alert-warning" *ngSwitchCase="false">
        <span>Merci de vous </span>
        <a class="alert-link" (click)="login()">connecter</a>
      </div>

      <div class="alert alert-warning" *ngSwitchCase="false">
        <span>Pas de compte ? Vous pouvez suivre ce liens pour </span>&nbsp;
        <a class="alert-link" routerLink="/account/register">Créer un compte</a>
      </div>
    </div>
  </div>
</div>
